


#container {
width: 100%;
height: auto;
border: rgb(225, 220, 220);
}
.row{
    border: 2px rgb(248, 66, 66);
    margin: 20px;
    height: 350px;
    width: 100%;
    display: block;
    
}
.col{
    height: inherit;
    width: 48%;
    margin: 1px;
    display: inline-block;
    float: left;
}